.heading{
    background: #86828b;
    color: #0b2e13;
    width: 100%;
    height: 80px;
    padding: 20px;
}
.footer{
   background: #a2a2c1;
   color: #f9fff3;
   width: 100%;
   height: 120px;
    padding: 10px;
}
.table{
    background: #6c757d;
    color: #ddd3ff;
    width: 100%;
    height: 10px;
    padding: 5px;
    font-size: 15px;




}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}



